body {
    background-color: rgb(10, 12, 50);
    margin: auto 200px auto 200px;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 150px 150px 150px 150px;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(10, 12, 50);
}

#clockContainer {
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: row;
    font-size: 50px;
    font-family:'Courier New', monospace;
    background-color: rgb(10, 12, 50);
    color: aqua;
    
}

#setHourMinute {
    margin: auto auto 20px auto;
    display: flex;
    flex-direction: row;
    font-family:'Courier New', monospace;
    font-size: 20px;
    color:aqua;
}

#control {
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    margin: 10px 10px 10px 10px;
    font-family:'Courier New', monospace;
    font-size: 25px;
    padding: 25px;
    cursor: pointer;
    border-radius: 30px;
    opacity: 0.4;
    
}

#setAlarm {
    background-color: rgb(10, 12, 50);
    color: white;
    cursor: pointer;
    color:aqua;
    border: solid;
}

#setAlarm:hover {
    opacity: 5;
}

#stopAlarm {
    background-color: rgb(10, 12, 50);
    color: white;
    color:aqua;
    border: solid;
}

#stopAlarm:hover {
    opacity: 5;
}

#snoozeAlarm {
    background-color: rgb(10, 12, 50);
    color: white;
    color:aqua;
    border: solid;
}

#snoozeAlarm:hover {
    opacity: 5;
}